.warp{
    display: flex;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 296px;
    height: 100vh;
    background-color: $bg-gray;
    padding: 32px 32px 32px 0;
    .logo{
        background: url('https://hexschool.github.io/webLayoutTraining1st/week5/logo-ANSWER.svg');
        @include hide-text;
        display: inline-block;
        width: 151px;
        height: 40px;
        margin-left: 32px;
    }
    .navList {
        margin-top: 42px;
        .active{
            border-left: 4px solid $green;
            a{
                color:$green;
                }
            }
        }
        li{
            padding-left:32px;
            line-height: 32px;
            margin-bottom: 24px;
            a{
                display: flex;
                align-items: center;
                font-size: $base-font-size;
                font-weight: $fw-bold;
                color:$font-gray;
                }
                p{
                    margin-left: 18px;
                }
            }
    

}

.user{
    display: flex;
    margin-left: 32px;
    .userThumbnail{
        background: url(https://hexschool.github.io/webLayoutTraining1st/week5/andychen.jpeg) center center;
        @include thumbnail-size;
    }
    .userInfo{
        margin-left: 16px;
    }
    .userName{
        font-size: $base-font-size;
        font-weight: $fw-bold;
        color:$font-gray;
        margin-bottom: 4px;
    }
    .userMail{
        font-size: $sec-font-size;
        color:$font-lightGray;
    }
    :hover{
        cursor: pointer;
    }
}

.navList{
    a:hover{
        color: $green;
    }
}





