/* 圖片取代文字 */
@mixin hide-text {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}
@mixin thumbnail-size{
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}